- if @authorized
  = render 'form'
  - if @profile
    %p Using profile: #{@profile.title}
    = render 'report'
- elsif user_signed_in?
  %p 
    = link_to 'link your account', '/auth/google'
- else
  %p Please, sign in or sign up!
